body {
  margin-top: 20px;
  background: #f8f8f8;
}

.card {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 20px;
  background: #fff;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
  background: #f7f7f7;
  margin: 5px 0;
  gap: 5px;
}

.todo-item.complete span {
  text-decoration: line-through;
  color: gray;
}

.checker {
  margin-right: 10px;
}
.checker:hover {
  cursor: pointer;
}

.todo-item span {
  flex: 1;
}

.todo-nav {
  margin-top: 10px;
}

.todo-list {
  margin: 10px 0;
}

.todo-list.only-active .todo-item.complete { display: none; }
.todo-list.only-active .todo-item:not(.complete) { display: block; }
.todo-list.only-complete .todo-item:not(.complete) { display: none; }
.todo-list.only-complete .todo-item.complete { display: block; }

.remove-todo-item {
  color: #ccc;
}
.remove-todo-item:hover {
  color: #5f5f5f;
}

.todo-item:hover .remove-todo-item { visibility: visible; }

div.checker, div.checker input, div.checker span { width: 18px; height: 18px; cursor: pointer; }

/* ======================= Lists Sidebar ======================= */
.list-of-lists li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.list-of-lists li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.list-of-lists li div {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
